In [1]:
!ls

1 - Preprocessing.ipynb          Setup Ambiente.ipynb
2 - Regression.ipynb             Twitter API.ipynb
2 - Regressione Semplice.ipynb   Untitled.ipynb
3 - Regressione e Stemming.ipynb example_files
Bokeh.ipynb                      imgs
Sentiment Analysis.ipynb

In [2]:
!man head

HEAD(1)                   BSD General Commands Manual                  HEAD(1)

NNAAMMEE
     hheeaadd -- display first lines of a file

SSYYNNOOPPSSIISS
     hheeaadd [--nn _c_o_u_n_t | --cc _b_y_t_e_s] [_f_i_l_e _._._.]

DDEESSCCRRIIPPTTIIOONN
     This filter displays the first _c_o_u_n_t lines or _b_y_t_e_s of each of the speci-
     fied files, or of the standard input if no files are specified.  If _c_o_u_n_t
     is omitted it defaults to 10.

     If more than a single file is specified, each file is preceded by a
     header consisting of the string ``==> XXX <=='' where ``XXX'' is the name
     of the file.

EEXXIITT SSTTAATTUUSS
     The hheeaadd utility exits 0 on success, and >0 if an error occurs.

SSEEEE AALLSSOO
     tail(1)

HHIISSTTOORRYY
     The hheeaadd command appeared in PWB UNIX.

BSD                              June 6, 1993                              BSD

In [3]:
import pandas as pd

In [6]:
help(pd.DataFrame.sample)

Help on function sample in module pandas.core.generic:

sample(self: ~FrameOrSeries, n=None, frac=None, replace=False, weights=None, random_state=None, axis=None) -> ~FrameOrSeries
    Return a random sample of items from an axis of object.

    You can use `random_state` for reproducibility.

    Parameters
    ----------
    n : int, optional
        Number of items from axis to return. Cannot be used with `frac`.
        Default = 1 if `frac` = None.
    frac : float, optional
        Fraction of axis items to return. Cannot be used with `n`.
    replace : bool, default False
        Allow or disallow sampling of the same row more than once.
    weights : str or ndarray-like, optional
        Default 'None' results in equal probability weighting.
        If passed a Series, will align with target object on index. Index
        values in weights not found in sampled object will be ignored and
        index values in sampled object not in weights will be assigned
        weights of zero.
        If called on a DataFrame, will accept the name of a column
        when axis = 0.
        Unless weights are a Series, weights must be same length as axis
        being sampled.
        If weights do not sum to 1, they will be normalized to sum to 1.
        Missing values in the weights column will be treated as zero.
        Infinite values not allowed.
    random_state : int or numpy.random.RandomState, optional
        Seed for the random number generator (if int), or numpy RandomState
        object.
    axis : {0 or ‘index’, 1 or ‘columns’, None}, default None
        Axis to sample. Accepts axis number or name. Default is stat axis
        for given data type (0 for Series and DataFrames).

    Returns
    -------
    Series or DataFrame
        A new object of same type as caller containing `n` items randomly
        sampled from the caller object.

    See Also
    --------
    numpy.random.choice: Generates a random sample from a given 1-D numpy
        array.

    Notes
    -----
    If `frac` > 1, `replacement` should be set to `True`.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
    ...                    'num_wings': [2, 0, 0, 0],
    ...                    'num_specimen_seen': [10, 2, 1, 8]},
    ...                   index=['falcon', 'dog', 'spider', 'fish'])
    >>> df
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    dog            4          0                  2
    spider         8          0                  1
    fish           0          0                  8

    Extract 3 random elements from the ``Series`` ``df['num_legs']``:
    Note that we use `random_state` to ensure the reproducibility of
    the examples.

    >>> df['num_legs'].sample(n=3, random_state=1)
    fish      0
    spider    8
    falcon    2
    Name: num_legs, dtype: int64

    A random 50% sample of the ``DataFrame`` with replacement:

    >>> df.sample(frac=0.5, replace=True, random_state=1)
          num_legs  num_wings  num_specimen_seen
    dog          4          0                  2
    fish         0          0                  8

    An upsample sample of the ``DataFrame`` with replacement:
    Note that `replace` parameter has to be `True` for `frac` parameter > 1.

    >>> df.sample(frac=2, replace=True, random_state=1)
            num_legs  num_wings  num_specimen_seen
    dog            4          0                  2
    fish           0          0                  8
    falcon         2          2                 10
    falcon         2          2                 10
    fish           0          0                  8
    dog            4          0                  2
    fish           0          0                  8
    dog            4          0                  2

    Using a DataFrame column as weights. Rows with larger value in the
    `num_specimen_seen` column are more likely to be sampled.

    >>> df.sample(n=2, weights='num_specimen_seen', random_state=1)
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    fish           0          0                  8

In [8]:

df = pd.DataFrame({'counts':[16277,7853, 10097,20366,45407]}, index=[1,2,3,4,5])
df

   counts
1   16277
2    7853
3   10097
4   20366
5   45407

In [9]:
df['counts'].sum()

100000

In [ ]:
[x for x in range(10)]

lista = []
for x in range(10):
    lista.append(x)

In [ ]:
[(str(v), s) for v in full_counts.index.to_numpy() for s in h.keys()]

In [10]:
[(i,j) for i in range(1,5) for j in range(5,10)]

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9)]

In [11]:
lista = []
for i in range(1,5):
    for j in range(5,10):
        lista.append((i,j))

In [12]:
lista

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9)]

In [32]:
index = [1,2,3,4,5]

h = {
    'pop':[10,15,25,30,20],
    'sample':[11, 14, 24, 31, 20]
}

xs = [(str(v), s) for v in index for s in h.keys()]

hs = tuple(x for sub in zip(*h.values()) for x in sub)
hs

(10, 11, 15, 14, 25, 24, 30, 31, 20, 20)

In [25]:
a = tuple(sub for sub in zip(*h.values()))
a

((10, 11), (15, 14), (25, 24), (30, 31), (20, 20))

In [27]:
h.values()

dict_values([[10, 15, 25, 30, 20], [11, 14, 24, 31, 20]])

In [26]:
for x in zip(*h.values()):
    print(x)

(10, 11)
(15, 14)
(25, 24)
(30, 31)
(20, 20)

In [ ]:
for t in zip(*h.values()):
    for x in t:
        (x)

In [37]:
d = {'a':1,'b':2}
try:
    1 + "cai"
except KeyError:
    print("Key dose not exists")
finally:
    print("finally")

finally

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
df = pd.DataFrame({'a':[1,2,4,4,5], 'b':[6, None, 2, None, None]})
df

   a    b
0  1  6.0
1  2  NaN
2  3  2.0
3  4  NaN
4  5  NaN

In [41]:
df.isnull()

       a      b
0  False  False
1  False   True
2  False  False
3  False   True
4  False   True

In [60]:
df = pd.DataFrame({'feature':[1,2,3,4,5,6,7,8,9,10],'target':[1,0,1,0,1,0,1,0,1,0]})
#df = [[1,2,3,4,5,6,7,8,9,10],[1,0,1,0,1,0,1,0,1,0]]

In [64]:
x = train_test_split(df, train_size=5)

In [65]:
x

[   feature  target
 6        7       1
 7        8       0
 2        3       1
 4        5       1
 5        6       0,
    feature  target
 3        4       0
 0        1       1
 9       10       0
 1        2       0
 8        9       1]

In [63]:
test

   feature  target
6        7       1
8        9       1
5        6       0
0        1       1
4        5       1